<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>main page</title>
  </head>
    <body bgcolor="3b1222">
	<h1>
	<font color="c9c9f5" face="MV Boli">DochMazaya's photos</font>
	</h1>
      <hr color="c9c9f5">

        <a href="{% url 'all_photo'%}"><img align="right" src="https://i.pinimg.com/564x/b5/4d/5a/b54d5a1e227bb6b37c6f8076159d6785.jpg" width="885"></a>
		<a href="{% url 'about'%}"><img src="https://i.pinimg.com/564x/42/e0/73/42e0738255cad1e3830363c5eafb4823.jpg" width="300"></a>
	      <hr color="c9c9f5">
		<a href="{% url 'contacts'%}"><img src="https://i.pinimg.com/564x/53/40/e8/5340e87058de3a7ba90252ee7c1e7c77.jpg" width="300"></a>
	      <hr color="c9c9f5">
		<a href="{% url 'conditions'%}"><img src="https://i.pinimg.com/564x/3b/02/53/3b0253c9ee53b6168d4de86e61a2904b.jpg" width="300"></a>
	      <hr color="c9c9f5">



</body>
</html>
