<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inside</title>
  <style>
   .leftstr, .rightstr {
    float: left; /* Обтекание справа */
    width: 50%; /* Ширина текстового блока */
   }
   .rightstr {
    text-align: right; /* Выравнивание по правому краю */
   }
  </style>
      </head>
    <body bgcolor="3b1222">

<!--cap-->
	<h1 class="leftstr"
        <a href="{% url 'index'%}"> <font color="c9c9f5" face="MV Boli">DochMazaya's photos</font> </a>
        <a href="{% url 'index'%}"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC44Z5N1qAiUhXjZpgKi1a9MldYxOBuSKc2bMtaATsZhQ64RENAiikeTknC9-k_k78T_s&usqp=CAU" width="40"></a>
	</h1>

<hr color="3b1222">
	<h1 class="rightstr"
        <a href="{% url 'all_photo'%}"> <font color="c9c9f5" face="MV Boli">back to all photo⠀</font> </a>
   <a href="{% url 'all_photo'%}"> <img align="right" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC44Z5N1qAiUhXjZpgKi1a9MldYxOBuSKc2bMtaATsZhQ64RENAiikeTknC9-k_k78T_s&usqp=CAU" width="40">
	</h1>

<hr color="c9c9f5">
<!--cap-->


    <img align="justify" src="https://i.pinimg.com/236x/90/bd/70/90bd70b64c0dc9862247043f787c73e4.jpg" width="231">



    <img align="justify" src="https://i.pinimg.com/236x/02/6d/d0/026dd0885afadc69017e7e65169b230a.jpg" width="231">

    <img align="justify" src="https://i.pinimg.com/236x/2d/8b/36/2d8b36ee934a9005c02c5bbf1d6fe2a9.jpg" width="231">


    <img align="justify" src="https://i.pinimg.com/236x/91/54/9f/91549fcfa3cb04097d53e9ff0b1f72a4.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/46/ba/b9/46bab925a4bc6a14e0a6ecb75a191b70.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/58/a7/58/58a7589c8596f765b0cb315f653387b6.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/0f/8c/cc/0f8ccc279ec6374f868dea0f39751b74.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/564x/8d/f9/4b/8df94baed9e4830e825a13bdedd353d3.jpg" width="231">


    <img align="justify" src="https://i.pinimg.com/236x/a6/4f/6d/a64f6da1766716251ec39b3e93d36de5.jpg" width="231">

    <img align="justify" src="https://i.pinimg.com/236x/b7/17/d9/b717d9542ddce44d71392ae8b481d3e2.jpg" width="231">



    <img align="justify" src="https://i.pinimg.com/236x/02/27/30/022730a6d117f2e2b76e530b0dcad012.jpg" width="231">



    <img align="justify" src="https://i.pinimg.com/236x/28/56/e3/2856e38c41631b2ae97f2aa7725f33de.jpg" width="231">

    <img align="justify" src="https://i.pinimg.com/236x/c4/e1/fe/c4e1fe0de492c2677b7995822c9c86f5.jpg" width="231">

    <img align="justify" src="https://i.pinimg.com/236x/4f/a3/12/4fa312a5689c0826350babd828b679f0.jpg" width="231">

    <img align="justify" src="https://i.pinimg.com/236x/3a/78/47/3a784777233870ed133ffa4aa5ab31e2.jpg" width="231">

    <img align="justify" src="https://i.pinimg.com/236x/24/ff/cd/24ffcd3a1727bcae7b541baeaf9e2111.jpg" width="231">

    <img align="justify" src="https://i.pinimg.com/236x/fb/15/0c/fb150c4af015297ad2cb309e2a6d7f97.jpg" width="231">

    <img align="justify" src="https://i.pinimg.com/236x/dd/ca/f1/ddcaf1fcbdea9921d5095e47167ea578.jpg" width="231">
        <img align="justify" src="https://i.pinimg.com/236x/cb/09/47/cb0947962c8dea3e05e1ec2564b21ea9.jpg" width="215">
    <img align="justify" src="https://i.pinimg.com/236x/b9/9d/f3/b99df39e814f398d6e42d67e7e886f44.jpg" width="231">



    <img align="justify" src="https://i.pinimg.com/236x/a2/ef/6e/a2ef6e8556fac038b523e31aab600bf8.jpg" width="231">





    <img align="justify" src="https://i.pinimg.com/236x/6b/2b/3a/6b2b3ad68059c866ddbaf449ee2fe8d2.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/6e/71/55/6e7155481c89cac17e0afb80ab09a6ad.jpg" width="249">



<!--    gorizontal-->
     <img align="justify" src="https://i.pinimg.com/236x/9f/16/a6/9f16a66cd5dfed713b1eed941afd6872.jpg" width="350">
      <img align="justify" src="https://i.pinimg.com/236x/fc/b9/40/fcb9408d9047bfdc351393b944b55a7f.jpg" width="350">
    <img align="justify" src="https://i.pinimg.com/236x/35/bb/91/35bb911d76cc1faf76be81219861f9e9.jpg" width="350">



    <img align="justify" src="https://i.pinimg.com/236x/f1/e8/31/f1e83175c3b57fb4c297f10930b9baaf.jpg" width="350">
    <img align="justify" src="https://i.pinimg.com/236x/25/ed/01/25ed01567f60b2ebfc74a7be26cefc18.jpg" width="350">







</body>
</html>