<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>outside</title>
  <style>
   .leftstr, .rightstr {
    float: left; /* Обтекание справа */
    width: 50%; /* Ширина текстового блока */
   }
   .rightstr {
    text-align: right; /* Выравнивание по правому краю */
   }
  </style>
      </head>
    <body bgcolor="3b1222">

<!--cap-->
	<h1 class="leftstr"
        <a href="{% url 'index'%}"> <font color="c9c9f5" face="MV Boli">DochMazaya's photos</font> </a>
        <a href="{% url 'index'%}"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC44Z5N1qAiUhXjZpgKi1a9MldYxOBuSKc2bMtaATsZhQ64RENAiikeTknC9-k_k78T_s&usqp=CAU" width="40"></a>
	</h1>

<hr color="3b1222">
	<h1 class="rightstr"
        <a href="{% url 'all_photo'%}"> <font color="c9c9f5" face="MV Boli">back to all photo⠀</font> </a>
   <a href="{% url 'all_photo'%}"> <img align="right" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC44Z5N1qAiUhXjZpgKi1a9MldYxOBuSKc2bMtaATsZhQ64RENAiikeTknC9-k_k78T_s&usqp=CAU" width="40">
	</h1>

<hr color="c9c9f5">
<!--cap-->

    <img align="justify" src="https://i.pinimg.com/236x/52/4b/a8/524ba8a02eab197ac14525ab3e8c5e24.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/22/ce/05/22ce05268b157bd081cd624450520e25.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/fb/80/26/fb8026f5b75fab1af8de224cc5478d8d.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/4b/ce/36/4bce36d0ad1bc2e818742408da2ca20f.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/39/14/3b/39143bcb4ae050d12eb86ab1db3b9137.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/07/86/67/078667af6e503edc876d079d6e4a3ec8.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/3e/fe/0a/3efe0ad9d3dd9930e1a895fd3b21cd10.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/1b/f5/80/1bf58086800f38a3c56e07f001e729a9.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/70/94/6f/70946f0979bae93364524ca181a8144b.jpg" width="231">
        <img align="justify" src="https://i.pinimg.com/236x/13/e5/56/13e55664bca4e04fdd0079b260b0b43c.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/49/ad/23/49ad239fac22aeece409ff297c5dc491.jpg" width="231">
    <img align="justify" src="https://i.pinimg.com/236x/3b/58/21/3b58212e239658dd60604fe61d0f92cb.jpg" width="231">

            <img align="justify" src="https://i.pinimg.com/236x/b0/f3/ec/b0f3eca10201b2744a1c41a9e3603948.jpg" width="231">





<img align="justify" src="https://i.pinimg.com/236x/9b/d0/95/9bd0952740231126d2d62e96ee018e4f.jpg" width="257">
    <img align="justify" src="https://i.pinimg.com/236x/c0/42/ce/c042ce50bfec07addb9ffd9098fc2539.jpg" width="266">

<!--    gorizontal-->
      <img align="justify" src="https://i.pinimg.com/236x/da/02/7c/da027c5a61dab20c7b7e5fca41855bee.jpg" width="259">
    <img align="justify" src="https://i.pinimg.com/236x/5c/6c/6d/5c6c6deda82080a78cf3506c14276590.jpg" width="390">
    <img align="justify" src="https://i.pinimg.com/236x/dd/a5/73/dda573c71edc27d743a78cdc7263383e.jpg" width="390">
    <img align="justify" src="https://i.pinimg.com/236x/d6/53/21/d6532181793820a114016f36f610ce51.jpg" width="390">












</body>
</html>
